<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumiroom.mapper.ContactsMapper">


  <!-- insertContacts --> 

  <insert id="insertContacts">
    INSERT INTO contacts (first_user, second_user, room_id)
    VALUES (#{firstUser}::uuid, #{secondUser}::uuid, #{roomId}::uuid)
  </insert>  

  <!-- getContact --> 

  <select id="getContacts">
    SELECT * FROM contacts
    WHERE 
      first_user = #{firstUser}::uuid AND second_user = #{secondUser}::uuid OR
      first_user = #{secondUser}::uuid AND second_user = #{firstUser}::uuid
    LIMIT 1
  </select>

  <!-- changeContactStatus 

  <update id="changeContactStatus">
    UPDATE contacts
    SET status = #{status}
    WHERE 
      first_user = #{firstUser}::uuid AND second_user = #{secondUser}::uuid OR
      first_user = #{secondUser}::uuid AND second_user = #{firstUser}::uuid
  </update> -->
</mapper>
