<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lumiroom.mapper.RoomMapper">

  <select id="getMembersByRoomId" parameterType="string">
    SELECT * from users
    WHERE id IN (
      SELECT member_id
      FROM room_users
      WHERE room_id = #{roomId}::uuid
    )
  </select>

  <select id="getRoom" parameterType="string" resultType="com.lumiroom.model.rooms.Room">
    SELECT *
    FROM rooms
    WHERE id = #{roomId}::uuid
    LIMIT 1
  </select>

  <!-- createRoom --> 

  <select id="createRoom" parameterType="com.lumiroom.model.rooms.RoomCreationRequest" resultType="string">
    INSERT INTO rooms (name, creator_id)
    VALUES (#{roomName}, #{creatorId}::uuid)
    RETURNING id
  </select>

  <!-- insertUsersToRoom --> 

  <!-- we add a check here to ensure the database is not corrupted -->
  <insert id="insertUsersToRoom">
    INSERT INTO room_users (member_id, room_id)
    SELECT #{userId}::uuid, #{roomId}::uuid
    WHERE EXISTS (
      SELECT 1 FROM users WHERE id = #{userId}::uuid
    )
  </insert>

  <!-- deleteUsersFromRoom --> 

  <delete id="deleteUsersFromRoom">
    DELETE FROM room_users 
    WHERE 
      room_id=#{roomId}::uuid AND
      member_id=#{userId}::uuid
  </delete>


  <!-- changeRoomStatus --> 
<!-- 
  <update id="changeRoomStatus">
    UPDATE rooms
    SET status = #{status}
    WHERE room_id=${roomId}::uuid
  </update>   -->

  <!-- deleteRoom --> 

  <delete id="deleteRoom">
    DELETE FROM rooms
    WHERE id=#{roomId}::uuid
  </delete>
</mapper>
